h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.font_main {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #AE7C78;
}

.font_main_l {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    font-weight: normal;
    color: #AE7C78;
}

.font_title_normal {
    font-family: "Playfair Display", "Cambria", serif;
    font-size: 44px;
    font-style: normal;
    font-weight: normal;
    line-height: 58px;
    color: #AE7C78;
}

.font_title_bold {
    font-family: "Playfair Display", "Cambria", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    color: #AE7C78;
    text-align: center;
}

.semi-bold {
    font-weight: 500;
}

.italic {
    font-style: italic;
}

.font_white {
    color: #FFFFFF;
}

.visually-hidden {
    display: none;
}

.page-header {
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.header__navigation {
    margin-top: 10px;
}

.header-navigation__list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.navigation__logo {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.header-navigation__link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.main-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.introduction-wrapper {
    margin-top: 70px;
    margin-bottom: 50px;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 20px;
}

.introduction__item:nth-child(2) {
    align-self: flex-end;
    margin-top: 55px;
}

.introduction__description {
    width: 386px;
    flex-shrink: 0;
}

.introduction__item img {
    width: 100%;
    min-width: 300px;
    height: auto;
}

.button-wrapper {
    width: 285px;
    margin-top: 64px;
    background: #D89999;
    border: solid #D89999;
    border-radius: 40px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.button {
    display: inline-block;
    width: 95%;
    padding: 25px 0;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 40px;
    box-sizing: border-box;
}

.button:hover {
    cursor: pointer;
}

.button-wrapper:hover {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.advantage-wrapper {
    margin-bottom: 55px;
}

.advantage-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 15px;
}

.advantage-item {
    display: flex;
}

.advantage-item__image {
    min-width: 80px;
    text-align: end;
    margin-right: 20px;
}

.advantage-item__text {
    max-width: 284px;
    min-width: 200px;
}

.slider-wrapper {
    margin-bottom: 80px;
}

.popular {
    display: grid;
    grid-template-columns: repeat(2, 397px);
    justify-content: center;
    margin-top: 45px;
}

.popular-item {
    padding: 10px;
}

.arrow {
    border: none;
    background-color: inherit;
    margin: 0 15px;
    transition: 0.3s ease;
}

.arrow:hover {
    filter: drop-shadow(2px 2px 2px rgb(124, 95, 117));
    cursor: pointer;
}

.arrow.left {
    justify-self: end;
}

.arrow.left:hover {
    transform: translateX(-10px);
}

.arrow.right {
    justify-self: start;
}

.arrow.right:hover {
    transform: translateX(10px);
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 80px;
}

.catalogue__item {
    border-radius: 10%;
    min-width: 250px;
    min-height: 440px;
}

.wedding {
    background: url("../images/main/wedding.jpg") no-repeat center;
}

.peonies {
    background: url("../images/main/peony.jpg") no-repeat center;
}

.other {
    background: url("../images/main/assortment.jpg") no-repeat center;
}

.catalogue__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(174, 124, 120, 0.6);
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

.catalogue__link:hover {
    background-color: rgba(174, 124, 120, 0.4);
}

.sale__wrapper {
    margin-bottom: 80px;
}

.sale {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #AE7C78;
}

.sale__text {
    min-width: 400px;
}

.text-container {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.sale__image {
    text-align: center;
    min-width: 500px;
}

.sale__image img {
    width: 100%;
    height: auto;
}

.order-steps__wrapper {
    margin-bottom: 80px;
}

.order-steps__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    column-gap: 20px;
    margin-top: 36px;
}

.news__wrapper {
    margin-bottom: 80px;
}

.news {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
}

.news-text {
    grid-row: span 2;
    min-width: 350px;
    padding-right: 10px;
}

.news-text__title {
    text-align: start;
    margin-bottom: 40px;
    margin-top: 30px;
}

.news-image img {
    width: 100%;
    height: auto;
    min-width: 250px;
}

.news-image_large {
    grid-row: span 2;
    min-width: 350px;
}

.icon {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    margin: 0;
    transition: 0.3s ease-in-out;
    filter: grayscale(1);
}

.icon:first-of-type {
    margin-left: -15px;
}

.icon:hover {
    transform: scale(1.5);
    filter: grayscale(0);
}

.references_wrapper {
    border: 1px solid #AE7C78;
    margin-bottom: 80px;
    padding-top: 35px;
    padding-bottom: 40px;
}

.references {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reference-item {
    width: 300px;
    text-align: center;
}

.contacts {}

.map {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

.contact-card {
    width: 386px;
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #F7FAFC;
    background-color: #F7FAFC;
    border-radius: 12px;
    padding: 35px 40px;
    box-sizing: border-box;
}

.contact-card-item {
    padding: 0;
    margin-bottom: 30px;
}

.contact-card-link {
    color: #AE7C78;
}

.footer-container {
    width: 1440px;
    min-height: 97px;
    background-color: #AE7C78;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
}

.footer-logo {
    justify-self: center;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-list-item {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 20px;
    margin-right: 55px;
}

.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-icon {
    margin: 10px;
}

.footer-container {
    width: 1440px;
    min-height: 97px;
    background-color: #AE7C78;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
}

.footer-logo {
    justify-self: center;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-list-item {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 20px;
    margin-right: 55px;
}

.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-icon {
    margin: 10px;
}